.description {
    min-height: 1em;
    max-height: 8em;
    overflow-y: auto;
    border-top: 1px dashed #666;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-0.5em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.record {
    padding-top: 4px;
    padding-bottom: 4px;
    animation: slideIn 0.4s ease-out forwards;
}

.record.old {
    color: #666;
}

.prefix {
    color: yellowgreen;
}

.record.old .prefix {
    color: #999;
}

.message {
    border-bottom: 1px dashed #333;
}
