.game {
    width: 600px;
    height: 480px;
    margin: 40px auto;
    border: 1px dashed #666;
    padding: 12px;
    overflow: hidden;
    box-sizing: border-box;
}

.gameHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #666;
    padding: 6px 4px;
    margin-bottom: 12px;
}
